<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MVP Demo suite" verbose="1" thread-count="1" parallel="tests" configfailurepolicy="continue">
    <listeners>
        <listener class-name="com.testNG.execution.TestNGExecutionListener"></listener>
    </listeners>
    <test name="MVPDemo" annotations="JDK" preserve-order="true">
        <classes>
            <class name="com.salesforce.cloudlendingsolutions.mvpdemo.RunnerClass"/>
        </classes>
    </test>
</suite>